body{
    background: url(../img/black.jpg);
    background-size: cover;
    margin: 0;
}
#wayneenterprises{
    font-family: 'Cinzel';
    font-size: 50px;
    color: #333333;
    opacity: 0.5;
    text-align: left;
    top: 0;
    animation: pulse 0.5s infinite alternate;
    display: inline-block;
    position: absolute;
}
@keyframes pulse {
    from { text-shadow: 0 0 0px white; }
    to { text-shadow: 0 20 30px white; }
}
#nav {
    font-family: times;
    height: 25px;
    width: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    padding-left: 100px;
    opacity: 0.5;
    display: inline-block;
    margin: -40 -510 0 0;

}
#nav a {
    padding: 0 8px 8px 12px;
    margin-top: -50px;
    text-decoration: none;
    font-size: 24px;
    color: #4d4d4d;
    display: inline-block;
    transition: 0.3s;
}
#nav a:hover, a:focus{
    color: #f1f1f1;
}
#nav {
    position: fixed;
    top: -15px;
    right: -500px;
    font-size: 1px;
    margin-left: 50px;
    display: inline-block;
}
#wayne{
    position: relative;
    display: inline-block;
    right: 465px;
    bottom: -15px;
}
.close {
    position: fixed;
    top: 68px;
    margin-left: 860px;
    display: inline-block;
}
#open {
    font-size: 36px;
    cursor: pointer;
    color: dimgray;
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: inline-block;
}
@media screen and (max-height: 450px) {
  #nav {padding-top: 15px;}
  #nav a {font-size: 18px;}
}
/*-----------------------------------------------*/
