body{
    background: url(../img/black.jpg);
    background-size: cover;
    margin: 0;
}
#we{
    font-family: 'Cinzel';
    font-size: 50px;
    color: #333333;
    opacity: 0.5;
    text-align: left;
    top: 0;
    animation:pulse 0.5s infinite alternate;
    display: inline-block;
    position: absolute;
}
@keyframes pulse {
    from { text-shadow: 0 0 0px white; }
    to { text-shadow: 0 20 30px white; }
}
#rightnav {
    font-family: times;
    height: 18px;
    width: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 96px;
    padding-left: 100px;
    opacity: 0.5;
    display: inline-block;
    margin: -40 -510 0 0;
}
#rightnav a {
    padding: 0 8px 8px 12px;
    margin-top: -30px;
    text-decoration: none;
    font-size: 24px;
    color: #4d4d4d;
    display: inline-block;
    transition: 0.3s;
}
#rightnav a:hover, a:focus{
    color: #f1f1f1;
}
#rightnav {
    position: fixed;
    top: -10px;
    right:20px;
    font-size: 1px;
    margin-left: 50px;
    display: inline-block;
}
#W{
    position: relative;
    display: inline-block;
    right: 496px;
    bottom: -15px;
}
.closebutton {
    position: fixed;
    top: 48px;
    margin-left: 870px;
    display: inline-block;
}
#openbutton {
    font-size: 36px;
    color: dimgray;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: inline-block;
}
@media screen and (max-height: 450px) {
  #rightnav {padding-top: 15px;}
  #rightnav a {font-size: 18px;}
}
.homevideo {
	width: 100%;
	height: 525px;
	position: fixed;
	top: 65px;
}
#WaynePromo {
    min-width:100%;
    min-height: 525px;
    align-content: left;
    top: 100px;
}
.missionstatement {
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'IM Fell French Canon SC';
	width: 100%;
	position: absolute;
	top: 750px;
	height: 1000px;
    background: url(../img/black.jpg);
    background-size: 100% 85%;
    background-position: absolute;
}
#mid1{
    width: 33.3%;
    float: left;
    background-color: #333333;
    text-align: center;
    opacity: 0.8;
}
#mid2{
    width: 33.3%;
    float: left;
    background-color: #1a1a1a;
    opacity: 0.8;
}
#mid3{
    width: 33.3%;
    float: left;
    background-color: #333333;
    opacity: 0.8;
}
.content2 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: 'IM Fell French Canon SC';
	width: 100%;
	position: absolute;
	top: 600px;
	height: 1000px;
    margin: 1000px 0 0 0;
    background: url(../img/gotham.jpg);
    background-size: 100% 100%;
}
#dcmaps{
    position: absolute;
    height: 700px;
    width: 1400px;
    margin: 0 0 0 -702;
    bottom: 50px;
}
#homefooter {
    position: absolute;
    bottom: 0;
}
/*----------------------*/
#contactbanner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 69px;
	background: url(../img/waynebuilding.jpg);
    background-size: 100% 100%;
}
#contactform{
	width: 100%;
	position: absolute;
	top: 400px;
	background: url(../img/black.jpg);
	height: 700px;
    text-align: center;
    color: white;
}
#fileupload{
    position: relative;
    overflow: hidden;
    margin: 10px;
    padding-left: 90px;
}
#fileupload input.upload{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}
/*-------------------------*/
#aboutusbanner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 70px;
}
#execss{
    width: 100%;
    height: 500px;
}
.back {
    position: absolute;
    top: 45%;
    left: 390px;
}
.forward {
    position: absolute;
    top: 45%;
    right: 390px;
}
#lfcaption{
    margin: -100px 0 0 0;
    color: white;
    text-align: center;
    font-family: 'cinzel';
    font-size: 16px;
    background-color: black;
    height: 200px;
    opacity: 0.5;
}
#dfcaption{
    margin: -100px 0 0 0;
    color: white;
    text-align: center;
    font-family: 'cinzel';
    font-size: 16px;
    background-color: black;
    height: 200px;
    opacity: 0.5;
}
#mtcaption{
    margin: -100px 0 0 0;
    color: white;
    text-align: center;
    font-family: 'cinzel';
    font-size: 16px;
    background-color: black;
    height: 200px;
    opacity: 0.5;
}
#bwcaption{
    margin: -100px 0 0 0;
    color: white;
    text-align: center;
    font-family: 'cinzel';
    font-size: 16px;
    background-color: black;
    height: 200px;
    opacity: 0.5;
}
#aboutuscontent{
	width: 100%;
	position: absolute;
	top: 550px;
	background: url(../img/black.jpg);
	height: 700px;
    text-align: center;
    font-size: 18px;
    color: white;
}
/*----------------*/
#productsbanner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 70px;
    background: url(../img/waynetowernight.gif);
    background-size: cover;
}
#productscontent{
	width: 100%;
	position: absolute;
	top: 550px;
	background: url(../img/black.jpg);
	height: 700px;
    text-align: center;
    font-size: 20px;
    color: white;
}
}
.WayneProducts{table-layout: fixed;
}
.WayneProducts, td, th{border-collapse: collapse;
              border: 0px solid black;
              overflow-x: hidden;
}
th{padding: 10px 7px; color: #444;}
td{height:35px;}
.WayneProducts{overflow-x: scroll;}
th, td {min-width: 200px;}
/*-----------------------*/
#reviewsbanner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 70px;
}
#reviewscontent{
	width: 100%;
	position: absolute;
	top: 550px;
	background: url(../img/black.jpg);
	height: 700px;
    text-align: center;
    font-size: 18px;
    color: white;
}
#myContainer {
    width: 100%;
    height: 525px;
    position: relative;
    background: url(../img/waynenewspaper.png);
    background-size: 9%;
}
#myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
}
/*---------ALL-----------*/
h1{
    color: white;
    font-family: 'cinzel';
    font-size: 28px;
}
h2 {
    color:white;
    font-family: 'Lateef' ;
    font-size: 20
}
p{
    color: white;
    font-family: 'Lateef'
    font-size: 16;
}
label{
    color: white;
    font-family: 'Lateef'
    font-size: 16;
}
/*--------------------*/
#careersbanner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 70px;
    background: url(../img/waynecareers.jpg);
    background-size: 100% 100%;
    margin-left: -4px;
}
#careerscontent{
	width: 100%;
	position: absolute;
	top: 650px;
	background: url(../img/black.jpg);
	height: 700px;
    text-align: center;
    font-size: 18px;
    color: white;
}
/*---------------------*/
#signupbanner {
	width: 100%;
	height: 525px;
	position: fixed;
	top: 100px;
    background: url(../img/WayneEnterprisesBuilding2.png);
    background-size: 100% 100%;
}
#signupcontent{
	width: 100%;
	position: absolute;
	top: 550px;
	background: url(../img/black.jpg);
	height: 700px;
    text-align: center;
    font-size: 20px;
    color: white;
}
/*---------------------*/
#signinbanner {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 70px;
    background: url(../img/batcpu.jpg);
    background-size: 100% 100%;
}
#signincontent{
	width: 100%;
	position: absolute;
	top: 550px;
	background: url(../img/black.jpg);
	height: 700px;
    text-align: center;
    font-size: 20px;
    color: white;
}

